<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gains & Grains Sign Up</title>
        <link rel="icon" type="image/png" href="/img/smalllogo.png" />
        <link rel="stylesheet" href="/css/loginSignup.css" />
        <link rel="stylesheet" href="/css/header.css" />
    </head>
    <body>
        <% if (alerts.success) { %> <% alerts.success.forEach(msg => { %>

        <div class="alert alert-success"><%= msg %></div>
        <% }) %> <% } %> <% if (alerts.error) { %> <% alerts.error.forEach(msg => { %>
        <div class="alert alert-danger"><%= msg %></div>
        <% }) %> <% } %>

        <header>
            <h2 class="logo">GAINS & GRAINS</h2>
            <img
                src="/img/smalllogo.png"
                class="small-logo"
                alt="Small Gains & Grains Logo"
                height="30px"
            />
            <nav>
                <ul class="nav_links">
                    <li><a class="navlink" href="/">Home</a></li>
                    <% if(!currentUser) { %>
                    <li><a class="navlink" href="/auth/login">Log In</a></li>
                    <li><a class="navlink" href="/auth/signup">Sign Up</a></li>
                    <% } else { %>
                    <li><a class="navlink" href="/user/dashboard">Dashboard</a></li>
                    <li><a class="navlink" href="/auth/logout">Logout</a></li>
                    <% } %>
                    <li><a class="navlink" href="#about">About</a></li>
                    <li><a class="cta cont" href="/contact">Contact</a></li>
                </ul>
            </nav>
            <p class="menu cta">Menu</p>
        </header>

        <div id="mobile_menu" class="overlay">
            <a class="close">&times;</a>
            <div class="overlay_content">
                <a href="#">Home</a>
                <% if(!currentUser) { %>
                <a href="/auth/login">Log In</a>
                <a href="/auth/signup">Sign Up</a>
                <% } else { %>
                <a href="/user/dashboard">Dashboard</a>
                <a href="/auth/logout">Logout</a>
                <% } %>
                <a href="#about">About</a>
                <a href="/contact">Contact</a>
            </div>
        </div>

        <section class="signup">
            <div class="container">
                <div class="title">USER SIGN UP</div>
                <div class="content">
                    <form action="/auth/signup" method="POST">
                        <div class="user-details">
                            <div class="input-box">
                                <span class="details">Full Name</span>
                                <input type="text" placeholder="Enter your name" required />
                            </div>
                            <div class="input-box">
                                <span class="details">Username</span>
                                <input type="text" placeholder="Enter your username" required />
                            </div>
                            <div class="input-box">
                                <span class="details">Email</span>
                                <input type="text" placeholder="Enter your email" required />
                            </div>
                            <div class="input-box">
                                <span class="details">Phone Number</span>
                                <input type="text" placeholder="Enter your number" required />
                            </div>
                            <div class="input-box">
                                <span class="details">Password</span>
                                <input type="password" placeholder="Enter your password" required />
                            </div>
                            <div class="input-box">
                                <span class="details">Confirm Password</span>
                                <input type="password" placeholder="Confirm your password" required />
                            </div>
                        </div>
                        <div class="gender-details">
                            <input type="radio" name="gender" id="dot-1" />
                            <input type="radio" name="gender" id="dot-2" />
                            <input type="radio" name="gender" id="dot-3" />
                            <span class="gender-title">Gender</span>
                            <div class="category">
                                <label for="dot-1">
                                    <span class="dot one"></span>
                                    <span class="gender">Male</span>
                                </label>
                                <label for="dot-2">
                                    <span class="dot two"></span>
                                    <span class="gender">Female</span>
                                </label>
                                <label for="dot-3">
                                    <span class="dot three"></span>
                                    <span class="gender">Other</span>
                                </label>
                            </div>
                        </div>
                        <div class="button">
                            <input type="submit" value="SIGN UP NOW" />
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <script src="/js/mobilemenu.js"></script>
    </body>
</html>
