<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gains & Grains - New Workout</title>
        <link rel="icon" type="image/png" href="/img/smalllogo.png" />
        <link rel="stylesheet" href="/css/workouts.css" />
        <link rel="stylesheet" href="/css/header.css" />
    </head>
    <body>
        <header>
            <h2 class="logo">GAINS & GRAINS</h2>
            <img
                src="/img/smalllogo.png"
                class="small-logo"
                alt="Small Gains & Grains Logo"
                height="30px"
            />
            <nav>
                <ul class="nav_links">
                    <li><a class="navlink" href="/">Home</a></li>
                    <% if(!currentUser) { %>
                    <li><a class="navlink" href="/login">Log In</a></li>
                    <li><a class="navlink" href="/signup">Sign Up</a></li>
                    <% } else { %>
                    <li><a class="navlink" href="/user/dashboard">Dashboard</a></li>
                    <li><a class="navlink" href="/logout">Logout</a></li>
                    <% } %>
                    <li><a class="navlink" href="/#about">About</a></li>
                    <li><a class="cta cont" href="/contact">Contact</a></li>
                </ul>
            </nav>
            <p class="menu cta">Menu</p>
        </header>

        <div id="mobile_menu" class="overlay">
            <a class="close">&times;</a>
            <div class="overlay_content">
                <a href="#">Home</a>
                <% if(!currentUser) { %>
                <a href="/login">Log In</a>
                <a href="/signup">Sign Up</a>
                <% } else { %>
                <a href="/user/dashboard">Dashboard</a>
                <a href="/logout">Logout</a>
                <% } %>
                <a href="/#about">About</a>
                <a href="/contact">Contact</a>
            </div>
        </div>

        <section class="new-workout">
            <div class="container">
                <div class="title">New Workout</div>
                <div class="content">
                    <form action="/user/workouts" method="POST">
                        <div class="input-box">
                            <span class="details">Workout Name</span>
                            <input
                                type="text"
                                name="name"
                                placeholder="Ex: Chest Day, Pull Day, Cardio"
                                required
                            />
                        </div>
                        <div class="input-box">
                            <span class="details">Date</span>
                            <input type="date" name="date" required />
                        </div>
                        <div id="exercises-container">
                            <div class="exercise">
                                <div class="input-box">
                                    <span class="details">Exercise Name</span>
                                    <input
                                        type="text"
                                        name="exercises[0][name]"
                                        placeholder="Bench Press, Rows, Squats"
                                        required
                                    />
                                </div>
                                <div class="input-box">
                                    <span class="details">Sets</span>
                                    <input
                                        type="number"
                                        name="exercises[0][sets]"
                                        placeholder="Enter Number of Sets"
                                    />
                                </div>
                                <div class="input-box">
                                    <span class="details">Reps</span>
                                    <input
                                        type="number"
                                        name="exercises[0][reps]"
                                        placeholder="Enter Number of Reps"
                                    />
                                </div>
                                <div class="input-box">
                                    <span class="details">Weight</span>
                                    <input
                                        type="number"
                                        name="exercises[0][weight]"
                                        placeholder="Enter Weight (lbs)"
                                    />
                                </div>
                                <div class="input-box">
                                    <span class="details">Duration (seconds)</span>
                                    <input
                                        type="number"
                                        name="exercises[0][duration]"
                                        placeholder="Enter Duration (sec)"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="button">
                            <input type="button" value="Add Exercise" />
                        </div>
                        <div class="button">
                            <input type="submit" value="Create Workout" />
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <script src="/js/mobilemenu.js"></script>
    </body>
</html>
