<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gains & Grains - New Workout</title>
        <link rel="icon" type="image/png" href="/img/smalllogo.png" />
        <link rel="stylesheet" href="/css/workouts.css" />
        <link rel="stylesheet" href="/css/header.css" />
    </head>
    <body>
        <header>
            <h2 class="logo">GAINS & GRAINS</h2>
            <img
                src="/img/smalllogo.png"
                class="small-logo"
                alt="Small Gains & Grains Logo"
                height="30px"
            />
            <nav>
                <ul class="nav_links">
                    <li><a class="navlink" href="/">Home</a></li>
                    <% if(!currentUser) { %>
                    <li><a class="navlink" href="/login">Log In</a></li>
                    <li><a class="navlink" href="/signup">Sign Up</a></li>
                    <% } else { %>
                    <li><a class="navlink" href="/user/dashboard">Dashboard</a></li>
                    <li><a class="navlink" href="/logout">Logout</a></li>
                    <% } %>
                    <li><a class="navlink" href="/#about/">About</a></li>
                    <li><a class="cta cont" href="/contact">Contact</a></li>
                </ul>
            </nav>
            <p class="menu cta">Menu</p>
        </header>

        <div id="mobile_menu" class="overlay">
            <a class="close">&times;</a>
            <div class="overlay_content">
                <a href="#">Home</a>
                <% if(!currentUser) { %>
                <a href="/login">Log In</a>
                <a href="/signup">Sign Up</a>
                <% } else { %>
                <a href="/user/dashboard">Dashboard</a>
                <a href="/logout">Logout</a>
                <% } %>
                <a href="/#about/">About</a>
                <a href="/contact">Contact</a>
            </div>
        </div>

        <div class="container">
            <h1>Add New Workout</h1>
            <form action="/user/workouts" method="POST">
                <label for="name">Workout Name:</label>
                <input type="text" name="name" id="name" required />
                <label for="date">Date:</label>
                <input type="date" name="date" id="date" required />
                <!-- Add other stuff l8r -->
                <button type="submit">Add Workout</button>
            </form>
        </div>

        <script src="/js/mobilemenu.js"></script>
    </body>
</html>
