<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gains & Grains</title>
        <link rel="icon" type="image/png" href="/img/smalllogo.png" />
        <link rel="stylesheet" href="/css/dashboard.css" />
        <link rel="stylesheet" href="/css/header.css" />
    </head>
    <body>
        <header>
            <h2 class="logo">GAINS & GRAINS</h2>
            <img
                src="/img/smalllogo.png"
                class="small-logo"
                alt="Small Gains & Grains Logo"
                height="30px"
            />
            <nav>
                <ul class="nav_links">
                    <li><a class="navlink" href="/">Home</a></li>
                    <% if(!currentUser) { %>
                    <li><a class="navlink" href="/login">Log In</a></li>
                    <li><a class="navlink" href="/signup">Sign Up</a></li>
                    <% } else { %>
                    <li><a class="navlink" href="/user/dashboard">Dashboard</a></li>
                    <li><a class="navlink" href="/logout">Logout</a></li>
                    <% } %>
                    <li><a class="navlink" href="/#about">About</a></li>
                    <li><a class="cta cont" href="/contact">Contact</a></li>
                </ul>
            </nav>
            <p class="menu cta">Menu</p>
        </header>

        <div id="mobile_menu" class="overlay">
            <a class="close">&times;</a>
            <div class="overlay_content">
                <a href="#">Home</a>
                <% if(!currentUser) { %>
                <a href="/login">Log In</a>
                <a href="/signup">Sign Up</a>
                <% } else { %>
                <a href="/user/dashboard">Dashboard</a>
                <a href="/logout">Logout</a>
                <% } %>
                <a href="/#about">About</a>
                <a href="/contact">Contact</a>
            </div>
        </div>

        <h1><%= currentUser.username.toUpperCase() %>'S DASHBOARD</h1>
        
        <div class="container">
            <div class="dashboard">
                <div class="row">
                    <div class="box">
                        <a href="/user/workouts">
                            <div class="box-content">
                                <img
                                    src="/img/dashboardWorkouts.jpg"
                                    alt="guy squatting, redirect to workouts page"
                                />
                                <h2>Workout Log</h2>
                            </div>
                        </a>
                    </div>
                    <div class="box">
                        <a href="/user/food-log">
                            <div class="box-content">
                                <img
                                    src="/img/dashboardFood.webp"
                                    alt="healthy assortment of foods, redirect to food page"
                                />
                                <h2>Food Log</h2>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="box">
                        <a href="/user/goals">
                            <div class="box-content">
                                <img
                                    src="/img/dashboardGoals.jpg"
                                    alt="people celebrating a marathon finish, redirect to goals page"
                                />
                                <h2>Goal Tracking</h2>
                            </div>
                        </a>
                    </div>
                    <div class="box">
                        <a href="/user/profile">
                            <div class="box-content">
                                <img
                                    src="/img/dashboardProfile.jpg"
                                    alt="people talking mirror photo at gym, redirect to profile page"
                                />
                                <h2>Profile</h2>
                            </div>
                        </a>
                    </div>
                    <div class="box">
                        <a href="/contact">
                            <div class="box-content">
                                <img
                                    src="/img/dashboardFeedback.webp"
                                    alt="people talking at gym, redirect to contact page"
                                />
                                <h2>Leave Feedback!</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/mobilemenu.js"></script>
    </body>
</html>
