<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gains & Grains</title>
        <link rel="icon" type="image/png" href="/img/smalllogo.png" />
        <link rel="stylesheet" href="/css/home.css" />
        <link rel="stylesheet" href="/css/header.css" />
    </head>
    <body>
        <% if (alerts.success) { %> <% alerts.success.forEach(msg => { %>
        <div class="alert alert-success"><%= msg %></div>
        <% }) %> <% } %> <% if (alerts.error) { %> <% alerts.error.forEach(msg => { %>
        <div class="alert alert-danger"><%= msg %></div>
        <% }) %> <% } %>

        <header>
            <h2 class="logo">GAINS & GRAINS</h2>
            <img
                src="/img/smalllogo.png"
                class="small-logo"
                alt="Small Gains & Grains Logo"
                height="30px"
            />
            <nav>
                <ul class="nav_links">
                    <li><a class="navlink" href="/">Home</a></li>
                    <% if(!currentUser) { %>
                    <li><a class="navlink" href="/login">Log In</a></li>
                    <li><a class="navlink" href="/signup">Sign Up</a></li>
                    <% } else { %>
                    <li><a class="navlink" href="/user/dashboard">Dashboard</a></li>
                    <li><a class="navlink" href="/logout">Logout</a></li>
                    <% } %>
                    <li><a class="navlink" href="#about">About</a></li>
                    <li><a class="cta cont" href="/contact">Contact</a></li>
                </ul>
            </nav>
            <p class="menu cta">Menu</p>
        </header>

        <div id="mobile_menu" class="overlay">
            <a class="close">&times;</a>
            <div class="overlay_content">
                <a href="#">Home</a>
                <% if(!currentUser) { %>
                <a href="/login">Log In</a>
                <a href="/signup">Sign Up</a>
                <% } else { %>
                <a href="/user/dashboard">Dashboard</a>
                <a href="/logout">Logout</a>
                <% } %>
                <a href="#about">About</a>
                <a href="/contact">Contact</a>
            </div>
        </div>

        <div class="carousel">
            <div class="list">
                <div class="item">
                    <img id="slide-1" src="/img/slider1.png" alt="asbtract guy doing pushups" />
                    <div class="content">
                        <div class="feature">WORKOUT LOG</div>
                        <div class="des">
                            Track your workouts with ease using our comprehensive Workout Log.
                            Record your exercises, sets, reps, and weights, and monitor your
                            progress over time. Stay organized and motivated as you achieve your
                            fitness goals.
                        </div>
                        <div class="buttons">
                            <% if(!currentUser) { %>
                            <button><a href="/signup/">SIGN UP</a></button>
                            <button><a href="/login/">LOG IN</a></button>
                            <% } else { %>
                            <button><a href="/user/workouts">SEE MORE</a></button>
                            <button><a href="/user/dashboard">DASHBOARD</a></button>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img id="slide-3" src="/img/slider2.png" alt="abstract guy meditating" />
                    <div class="content">
                        <div class="feature">GOAL TRACKING</div>
                        <div class="des">
                            Stay focused and motivated with our Goal Tracking feature. Set
                            personalized fitness goals and track your progress. Whether it's weight
                            loss, muscle gain, or running a marathon, our Goal Tracking helps you
                            stay on course and celebrate your achievements.
                        </div>
                        <div class="buttons">
                            <% if(!currentUser) { %>
                            <button><a href="/signup/">SIGN UP</a></button>
                            <button><a href="/login/">LOG IN</a></button>
                            <% } else { %>
                            <button><a href="/user/goals">SEE MORE</a></button>
                            <button><a href="/user/dashboard">DASHBOARD</a></button>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img id="slide-2" src="/img/slider3.png" alt="abstract guy doing muscle ups" />
                    <div class="content">
                        <div class="feature">FOOD LOG</div>
                        <div class="des">
                            Maintain a healthy diet with our intuitive Food Log. Easily log your
                            meals, track your calorie intake, and monitor your nutritional balance.
                            Our Food Log helps you stay on top of your dietary goals, whether you
                            are looking to lose weight, gain muscle, or simply eat healthier.
                        </div>
                        <div class="buttons">
                            <% if(!currentUser) { %>
                            <button><a href="/signup/">SIGN UP</a></button>
                            <button><a href="/login/">LOG IN</a></button>
                            <% } else { %>
                            <button><a href="/user/food">SEE MORE</a></button>
                            <button><a href="/user/dashboard">DASHBOARD</a></button>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-nav">
                <a href="#slide-1"></a>
                <a href="#slide-2"></a>
                <a href="#slide-3"></a>
            </div>
        </div>

        <section class="about" id="about">
            <div class="about-container">
                <div class="photo-box2">
                    <img src="/img/mainlogo.png" alt="Gains & Grains Logo" />
                </div>
                <div class="about-text">
                    <h2>ABOUT <span>US</span></h2>
                    <p>
                        Welcome to Gains & Grains, your ultimate fitness companion. Our mission is
                        to help you achieve your fitness goals through comprehensive workout and
                        food logging features. Whether you're aiming to build muscle, lose weight,
                        or maintain a healthy lifestyle, our platform provides you with the tools
                        and support you need. Track your workouts, monitor your dietary intake, set
                        personalized goals, and stay motivated with Gains & Grains.
                    </p>
                </div>
            </div>
        </section>

        <script src="/js/slider.js"></script>
        <script src="/js/mobilemenu.js"></script>
    </body>
</html>
