body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.profile-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.profile-content h3, .profile-content p {
    margin: 10px 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}

.btn:hover {
    background-color: var(--accent-color);
}


@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .profile-card {
        padding: 15px;
    }
}
